@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <br>
    <br>
    <h1>Não consegui fazer completo devido ao tempo, faltou:</h1>
    <br>
    <h1>* Criar Lista de produtos e clientes para a criação das vendas</h1>
    <br>
    <h1>* Tratar valores como por exemplo valor monetario</h1>
    <br>
    <h1>* Melhorar o Front, disposição dos botões</h1>
    <br>
    <h1>* Tratar exceções</h1>
    <br>
    <h1>* Para criar venda precisa saber o Id corretoo do prooduto e Cliente</h1>
</div>
